body {
  margin: 0;
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body, body * {
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

div {
  font-family: 'Manrope'
}

.nano {
  color: white;
  font-size: 30px;
  font-weight: 900;
}

.none {
  width: 100%;
  display: block;
  text-align: left;
  border: none;
  box-shadow: none;
  background: none;
}

.img {
  position: absolute;
  top: 10px;
  left: calc(50vw - 90px);
  width: 200px;
}
