.text {
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    color: #29292c;
    margin-bottom: 20px;
    text-decoration: none;
}

.text--smol {
    font-size: 13px;
    font-weight: 600;
    color: #58585a;
}