.view {
    display: block;
    margin-top: 40px;
    width: calc(100vw - 35px);
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    z-index: 10;
    overflow: scroll;
    min-height: calc(100vh - 100px);
    animation: reveal 0.35s ease forwards;
}

.invert {
    filter: invert(1) !important;
}

@keyframes reveal {
    from {
      filter: blur(40px);
      transform: translate(0px, 50px);
      opacity: 0;
    }

    to { 
      filter: blur(0);
      transform: translate(0px, 0px);
      opacity: 1;
    }
 }

.view__header__wrapper {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: -10px;
}

.view__header__wrapper--noback {
    margin-left: 0px;
}

.view__header {
    display: block;
    position: relative;
    text-align: left;
    font-size: 18px;
    padding-left: 10px;
    font-weight: 900;
    color: #0a0425;
    display: table-row;
    margin-bottom: 20px;
    table-layout: fixed;
    left: 0px;
    width: 100%;
}

.view__header--alone {
    margin-left: 20px;
    margin-bottom: -50px;
}

.view__header__separator {
    height: 22px;
}

.view__back__container {
    margin-left: 22px;
    margin: auto;
    margin-right: 40px;
    padding-top: 8px;
    line-height: 25px;  
    display: inline-block;
    word-break: keep-all;
    white-space: nowrap;
    width: 1px;
    height: 40px;
    text-align: left;
    vertical-align: middle;
}

.view__back {
    outline: none;
    font-size: 25px;
    font-weight: 600;
    color: #8f8f8f;
    background: none;
    border: none;
    font-family: 'Manrope';
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 15px;
    margin: none;
    column-rule-width: 40px;
    text-align: left;
}

.view__back:hover {
    animation: hoverBack 0.5s ease forwards;
}


@keyframes hoverBack {
    to { 
        color: #1e1e20;
        cursor: pointer;
        background-color: rgb(212, 219, 226);
    }
 }


.view__header__text {
    text-align: left;
    padding-left: 11px;
    display: table-cell;
    vertical-align: middle;
    padding-top: 7px;
}

.view__header__text--insane {
    margin-top: -10px;
    vertical-align: middle;
    padding-left: 13px;
    font-size: 30px;
    margin-left: 20px;
}

.view__header--noback {
    margin-top: 20px;
    margin-left: 10px;
}

.view__image {
    width: calc(100vw - 30px);
}

@media screen and (min-width: 500px) {
    .view {
        width: 360px !important;
        margin-left: calc(50vw - 180px);
    }

    .view__image {
        width: 360px;
    }
}

@media screen and (min-width: 800px) {
    .view {
        width: 700px !important;
        margin-left: calc(50vw - 350px);
    }

    .view__image {
        width: 250px;
    }

    .view__left {
        vertical-align: top;
        margin-right: 100px;
        width: 250px !important;
        display: inline-block;
    }

    .view__left--large {
        vertical-align: top;
        margin-right: 25px;
        width: 350px !important;
        display: inline-block;

    }

    .view__left--small {
        vertical-align: top;
        margin-right: 25px;
        width: 300px !important;
        display: inline-block;
    }
}

@media screen and (min-width: 1000px) {
    .view {
        margin-top: 60px;
        width: 1000px !important;
        margin-left: calc(50vw - 500px);
    }

    .view__left {
        vertical-align: top;
        margin-right: 100px;
        width: 400px !important;
        display: inline-block;
    }

    .view__image {
        width: 400px;
    }

    .view__left--large {
        vertical-align: top;
        margin-right: 50px;
        width: 550px !important;
        display: inline-block;

    }

    .view__left--small {
        vertical-align: top;
        margin-right: 50px;
        width: 320px !important;
        display: inline-block;
    }

    .view__right {
        vertical-align: top;
        width: 400px !important;
        display: inline-block;
    }

    .view__back__container {
        height: 68px;
        margin-right: 50px;
    }

    .view__back {
        outline: none;
        font-size: 30px;
        font-weight: 500;
        color: #c2c2c2;
        margin-top: 17px;
        width: 50px !important;
        height: 50px !important;
        border-radius: 30px;
        text-align: center;
        margin-right: 30px;
    }

    .view__header {
        margin-left: 10px;
        font-size: 22px;
        font-weight: 900;
        color: #0a0425;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .view__header--alone {
        padding-top: 40px;
        margin-left: calc(50% - 480px);
    }

    .view__header__text {
        padding-top: 28px;
    }

    .view__header--noback {
        margin-left: 0px;
    }
}
